.card_container{
    width: 90%;
    /* height: 200px; */
    padding: 10px 50px 50px 50px;
    /* border: 1px solid black; */
    background-color: #F5F5F5;
    border-radius: 15px;
}
.title{
    font-size: 60px;
    font-weight: 600;
}
.bodyText{
    font-size: 30px;
}